.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 600px;
  color: #333;
  margin: 0 auto 10px;
}

.listHeader button {
  background-color: transparent;
  padding: 5px 8px;
}

.listHeader button.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.listHeader button svg path {
  fill: #444;
}

.listHeader button + button {
  margin-left: 5px;
}

.listHeader .checkmark {
  background-color: #fff;
  left: 0;
  top: 5px;
}

.listHeader input:indeterminate + .checkmark {
  background-color: #9933ff;
}
.listHeader input:indeterminate + .checkmark:after {
  display: block;
  left: 4px;
  top: 7px;
  width: 8px;
  height: 10px;
  border: solid white;
  border-width: 2px 0px 0px 0;
  transform: rotate(0deg);
}

.listHeader__counter {
  padding-left: 24px;
  font-weight: 600;
}

.results {
  flex: 1;
  position: relative;
}

.results-content {
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px 6px 30px 6px;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: clamp(20px, 4vw, 30px);
  grid-row-gap: clamp(20px, 4vw, 30px);
  align-items: start;
  grid-auto-rows: min-content;
  justify-content: center;
}

@media (min-width: 385px) {
  .results-content {
    grid-template-columns: repeat(3, 100px);
  }
}

@media (min-width: 576px) {
  .results-content {
    grid-template-columns: repeat(4, 100px);
  }
}
