.searchbar {
  padding: 20px;
  text-align: center;
}

.searchbar__inputWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.searchbar__icon svg {
  height: 24px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.searchbar__icon svg path {
  fill: #585858;
}

.searchbar input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 14px 12px 36px;
  color: #333;
}
.searchbar input:focus {
  outline: 1px solid #9933ff;
}

@media (min-width: 768px) {
  .searchbar__inputWrapper {
    width: 300px;
  }
}
